[submodule "code/cpp/deps/compact_optional"]
	path = code/cpp/deps/compact_optional
	url = git@github.com:akrzemi1/compact_optional
[submodule "code/cpp/deps/KaHIP"]
	path = code/cpp/deps/KaHIP
	url = https://github.com/schulzchristian/KaHIP
