name: "bachelorthesis"
version: "1.0.0"
author: "Lukas Stevens"
url: ""
dependencies: 
    "craftr.lang.cxx": "*"
    "craftr.lib.googletest" : "*"
    "craftr.lang.java" : "*"
    "hdecomp" : "*"
options: {
    debug: "bool"
    }
